src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="azure-project-v85-apikit-config" raml="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" doc:name="APIKit Router Config" />

  <flow name="azure-project-v53-api-main" doc:name="azure-project-v52 API Main" doc:id="6e7c84d9-0d25-7ee9-f06b-9b3e3e2b7888">
    <http:listener path="/api/${api.majorVersion}/*" config-ref="HTTPS_Listener_config" doc:name="HTTP Listener" doc:id="8a642bc2-4ba3-0e6b-d645-68a897610cab">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>
          #[vars.outboundHeaders default {}]
        </http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>
          #[payload]
        </http:body>
        <http:headers>
          #[vars.outboundHeaders default {}]
        </http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="azure-project-v52-apikit-config" doc:name="APIKit Router" doc:id="8d98bc66-3358-4904-554a-f5f761d37228"></apikit:router>
  </flow>

  <flow name="post:\leads:application\json:azure-project-v52-apikit-config" doc:name="post:\leads:application\json:azure-project-v52-apikit-config" doc:id="2312af07-6a4d-2c4a-2025-56f918b52d91">
    <flow-ref doc:name="post-leads-flow" doc:id="54e09e44-e2e0-05a5-e608-d0e468669281" name="post-leads-flow"></flow-ref>
  </flow>

  <flow name="get:\leads\(id):azure-project-v52-apikit-config" doc:name="get:\leads\(id):azure-project-v52-apikit-config" doc:id="1f0f9653-6efe-97ff-0e1f-448f37bade22">
    <flow-ref doc:name="get-leads-by-id-flow" doc:id="51bb0c36-209f-532f-e1f8-1aa34350e956" name="get-leads-by-id-flow"></flow-ref>
  </flow>

  <flow name="put:\leads\(id):application\json:azure-project-v52-apikit-config" doc:name="put:\leads\(id):application\json:azure-project-v52-apikit-config" doc:id="18a035c7-3a04-60dd-bfd1-f060a6cb39ae">
    <flow-ref doc:name="put-leads-by-id-flow" doc:id="0bf9d55b-38f5-fd96-9df3-7b4c5e365242" name="put-leads-by-id-flow"></flow-ref>
  </flow>

  <flow name="delete:\leads\(id):azure-project-v52-apikit-config" doc:name="delete:\leads\(id):azure-project-v52-apikit-config" doc:id="b3211aab-f6c7-1cd9-a1f3-9e08644644c9">
    <flow-ref doc:name="delete-leads-by-id-flow" doc:id="46c89af2-3dae-066b-561b-c0ff63211e4a" name="delete-leads-by-id-flow"></flow-ref>
  </flow>

  <flow name="post:\opportunities:application\json:azure-project-v52-apikit-config" doc:name="post:\opportunities:application\json:azure-project-v52-apikit-config" doc:id="7c16c3d5-0e23-1070-84bd-a07d2869616f">
    <flow-ref doc:name="post-opportunities-flow" doc:id="81f85f4a-ceca-848c-7085-ecc51c319877" name="post-opportunities-flow"></flow-ref>
  </flow>

  <flow name="get:\opportunities\(id):azure-project-v52-apikit-config" doc:name="get:\opportunities\(id):azure-project-v52-apikit-config" doc:id="edb288e3-46d4-d758-5c39-1dbf132dbd7f">
    <flow-ref doc:name="get-opportunities-by-id-flow" doc:id="6b277255-60ef-0abe-c653-6dcb81424c0c" name="get-opportunities-by-id-flow"></flow-ref>
  </flow>

  <flow name="put:\opportunities\(id):application\json:azure-project-v52-apikit-config" doc:name="put:\opportunities\(id):application\json:azure-project-v52-apikit-config" doc:id="f098c4b6-c960-afd3-345b-b488da5e01a8">
    <flow-ref doc:name="put-opportunities-by-id-flow" doc:id="b2356c65-3569-cdb1-eef0-dfdcf7f93b8d" name="put-opportunities-by-id-flow"></flow-ref>
  </flow>

  <flow name="delete:\opportunities\(id):azure-project-v52-apikit-config" doc:name="delete:\opportunities\(id):azure-project-v52-apikit-config" doc:id="4526dce8-63c8-3ae9-9d9c-f82d76beb199">
    <flow-ref doc:name="delete-opportunities-by-id-flow" doc:id="eb84b71c-f055-61e6-928c-5d62c35c1048" name="delete-opportunities-by-id-flow"></flow-ref>
  </flow>

  <flow name="get:\readiness:azure-project-v52-apikit-config" doc:name="get:\readiness:azure-project-v52-apikit-config" doc:id="0a09bd8b-a645-9e0b-f66b-086d08c01a8e">
    <flow-ref doc:name="readiness-check-subflow" doc:id="6a3fd328-6f47-cb24-0896-d32e1a709985" name="readiness-check-subflow"></flow-ref>
  </flow>

</mule>
